services:
  - type: web
    name: tg-psych-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python -m app.main
    autoDeploy: true
    envVars:
      - key: PYTHONUNBUFFERED
        value: "1"